<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- CloudSim Plus sangat verbose pada level INFO/DEBUG. Ringkasan
         simulasi dicetak oleh aplikasi, jadi cukup tampilkan ERROR. -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
